body{
	margin: 0;
	padding:0;
}
/*-------------------------------navigation bar-------------------------*/
/*-------------------------------side-navigation bar------------------------*/
#side_nav{
	width: 200px;
	height: 250px;
	background: #111;
	float: right;
	margin-top: 0;
	z-index: 1;
	transition: 0.5s;
}
#side_nav li{
	list-style-type: none;
}
#side_nav a{
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	transition: 0.3s;
	text-transform: uppercase;
}
#side_nav a:hover{
	color: #f1f1f1;
}
span
{
	float: right;
	margin-right: 2px;
}
span img{
	width: 50px;
	height: 50px;
}
#side_nav .closebtn{
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media(max-width: 500px)
{
	#side_nav{
	width: 100%;
	height: 180px;
	padding-top: 10px;
	background: #111;
	top: 0;
	z-index: 1;
	position: fixed;
	opacity: 0.9;
	transition: 0.5s;
	overflow: hidden;
}
}
@media(min-width: 500px)
{
	#side_nav{
		display: none;
	}
	#openbtn{
		display: none;
	}
}
/*-------------------x-----------side-navigation bar---------x----------------*/

nav{
	width: 100%;
	height: 50px;
	background: #151B54;
	top: 0;
	line-height: 80px;
}
nav li {
	float: right;
	display: inline-block;
	margin-right: 30px;
	list-style-type: none;
	line-height: 50px;
	transition: 0.8s all;
}
nav li a{
	text-decoration: none;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}
nav li:hover{
	background-color: #f39d1a;

}
@media(max-width: 600px)
{
	nav #siteName{
	width: 100px;
	height: 30px;
	margin-left: 5px;
	background: #151B54;
	margin-top: 5px;
	border-radius: 8px;
}
	nav{
	width: 100%;
	height: 50px;
	background: #151B54;
	top: 0;
	line-height: 60px;
}
nav li {
	float: right;
	display: inline-block;
	margin-right: 30px;
	list-style-type: none;
	line-height: 70px;
	transition: 0.8s all;
}

nav li a{
	text-decoration: none;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
}
}
@media(max-width: 500px)
{
    nav li{
    	display: none;
    }
    #nav{
    width: 100%;
	height: 50px;
	background: #151B54;
	top: 0;
	line-height: 80px;
}
}
/*-----------------x--------------navigation bar------------x-------------*/
.content_holder{
	height: 3px;
	width: 100%;
	background: white;
}
/*---------------------------------home page--------------------*/
#home{
	width: 100%;
	height: 330px;
	background: #5E5A80;
	padding: 5px;
}
#profile_details{
	width: 160px;
	height: 160px;
	background: white;
	overflow: hidden;
	border-radius: 50%;
	top: 70px;
}
#profile_details img{
	width: 160px;
	height: 160px;
}
label{
	color: #fff;
	font-family: verdana;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
}
@media(max-width: 280px){
		#home{
	width: 100%;
	height: 400px;
	background: #5E5A80;
	padding: 10px;
}

}
/*--------------------x-------------home page-----------x---------*/
/*---------------------------------about--------------------*/
#about{
	width: 100%;
	height: 500px;
	background: #5E5A80;
	border: 2px;
	border-style: outset;
	padding: 3px;
}
#about p{
	color: #fff;
	font-family: verdana;
	letter-spacing: 1px;
}

/*--------------------x-------------about-----------x---------*/

/*---------------------------------projects----------------------------*/
#projects{
	width: 100%;
	height: auto;
	background: #5E5A80;
	border-style: outset;
	display: inline-flex;
}
.firstProject{
	width: 30%;
	height: 100%;
	background: #fff;
	border-radius: 8px;
	border: 2px solid #000;
	padding: 2px;
}
.firstProject img{
	width: 100%;
	height: 200px;
}
.firstProject label{
	color: #000;
}
@media(max-width: 500px){
	#projects{
		width: 100%;
		height: 500px;
		display: inline-block;
	}
	.firstProject{
		width: 100%;
		height: 500px;
	}

}
/*-----------------x-----------------projects----------x--------------------*/
/*----------------------------------skills------------------------------*/
#skills{
	width: 100%;
	height: 300px;
	background: #5E5A80;
	border-style: outset;
}
/*---------------------x-------------skills----------------x--------------*/
/*----------------------------------footer------------------------------*/
#footer{
	width: 100%;
	height: 300px;
	background: #5E5A80;
	border-style: outset;
}
/*---------------------x-------------footer----------------x--------------*/